RewriteEngine On

RewriteCond %{HTTP_USER_AGENT} (Baidu|Apache|Java) [NC]
RewriteRule ^(.*)$ - [F]

Header always set Strict-Transport-Security "max-age=31536000; includeSubDomains; preload"

Header always set X-Frame-Options "DENY"

Header always set X-XSS-Protection "1; mode=block"

Header always set X-Content-Type-Options "nosniff"

<FilesMatch "\.(html|htm)$">
Header always set Content-Type "text/html; charset=utf-8"
Header add Link "<https://blog.nfz.yecdn.com>; rel=preconnect; crossorigin"
</FilesMatch>

