RewriteEngine On
RewriteCond %{SERVER_PORT} 80
RewriteRule ^(.*)$ https://blog.nfz.moe/$1 [R=301,L]

RewriteCond %{HTTP_USER_AGENT} (Baidu|Apache) [NC]
RewriteRule ^(.*)$ - [F]

Header always set Strict-Transport-Security "max-age=31536000; includeSubDomains; preload" env=HTTPS

Header always set Content-Security-Policy "upgrade-insecure-requests"

Header always set X-Frame-Options "DENY"

Header always set X-XSS-Protection "1; mode=block"

Header always set X-Content-Type-Options "nosniff"

<FilesMatch "\.(html|htm)$">
Header always set Content-Type "text/html; charset=utf-8"
Header add Link "<https://blog.nfz.yecdn.com>; rel=preconnect; crossorigin"
Header add Link "<https://cdnjs.cat.net>; rel=preconnect; crossorigin"
Header add Link "<https://i.nfz.yecdn.com>; rel=preconnect; crossorigin"
</FilesMatch>
